.section {
    text-align: center;
}

.section-title {
    color: #333333;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 28px;
}

.decoration-line {
    color: #F1B128;
    width: 60px;
    height: 3px;
    align-content: center;
    background-color: #F1B128;
    margin-bottom: 57px;
}

.section-text {
    font-style: normal;
    /*жирность*/
    font-weight: normal;
    /*размер шрифта*/
    font-size: 17px;
    /*высота строки*/
    line-height: 24px;
    /*цвет*/
    color: #4D4943;
    text-align: center;
    margin-bottom: 48px;
}

.nav {
    /*убираем точки со списков*/
    list-style: none;
}

.nav-link {
    color: #3D3D3D;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
     /*убираем подчеркивание текста*/
    text-decoration: none;
}

.nav-logo {
    font-size: 36px;
    color: #F1B128;
    font-weight: bold;
    text-transform: uppercase;
}

.services-title {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.text-selected {
    color: #F1B128;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.services-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}

.services-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: white;
    background-color: #F1B128;
    display: inline-block;
}

.list-item {
    /*делаем элемент блочно строчным*/
    display: inline-block;
    margin-right: 69px;
}
